main{
  min-height: 95vh;
}

.my-3{
  padding-left:50px ;
}

input, select, textarea {
  font-size: 16px !important;
}


.form-group, .form-control, .form-check {
  margin-bottom: 14px !important;
}

@media (max-width: 576px) {
  .radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
